// MIXINS
@mixin w-h($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
}

@mixin flexbox($fd: row, $ai: center, $jc: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

@keyframes loading {
  0% {
    opacity: 1;
    transform: none;
  }
  24% {
    opacity: 1;
    transform: none;
  }
  25% {
    opacity: 1;
    transform: translateX(calc(8vw));
  }
  49% {
    opacity: 1;
    transform: translateX(calc(8vw));
  }
  50% {
    opacity: 1;
    transform: translateX(calc(16vw));
  }
  74% {
    opacity: 1;
    transform: translateX(calc(16vw));
  }
  75% {
    opacity: 1;
    transform: translateX(calc(24vw));
  }
  100% {
    opacity: 1;
    transform: translateX(calc(24vw));
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

body {
  background-color: black;

  &::-webkit-scrollbar {
    width: 0;
  }
}

img {
  @include w-h(200px, 150px);
  object-fit: cover;
  z-index: 20;
}

.app {
  @include w-h(100vw, 100vh);
  @include flexbox($fd: column, $jc: flex-start);
  padding: 3vh;
}

.loading {
  @include w-h(100vw, 100vh);
  @include flexbox($fd: column);
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .loading_container {
    @include w-h(24vw, 10vh);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    position: relative;

    .block {
      @include w-h(100%, 10%);
      align-self: center;
      background-color: goldenrod;
    }

    .x_wing_container {
      @include w-h(24vw, 10vh);
      @include flexbox($jc: flex-start);
      background-color: black;
      transform: translateX(100px);
      position: absolute;
      animation: loading 2s infinite;

      .x_wing {
        @include w-h(5vh, 5vh);
        object-fit: contain;
        transform: rotate(90deg);
      }
    }
  }
}

.select_boxes {
  @include w-h(70%, auto);
  @include flexbox($jc: space-evenly);
  margin-top: 2vh;

  button {
    @include w-h(200px, 30px);
    background-color: black;
    cursor: pointer;
    border: solid 1px white;
    align-self: flex-end;
    transition: 0.3s;

    &:hover {
      color: goldenrod;
      border: solid 1px goldenrod;
      transition: 0.3s;
    }

    &:active {
      color: black;
      border: solid 1px black;
      background-color: goldenrod;
      transition: 0.3s;
    }
  }

  div {
    @include flexbox($fd: column);
    select {
      @include w-h(200px, 30px);
      background-color: black;
      cursor: pointer;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: white;
      }
    }
  }
}

p {
  text-align: center;
  margin-top: 2vh;
  transform: perspective(200px) rotateX(20deg) translateY(100vh);
  transform-origin: center;
}
