@keyframes loading {
  0% {
    opacity: 1;
    transform: none;
  }
  24% {
    opacity: 1;
    transform: none;
  }
  25% {
    opacity: 1;
    transform: translateX(8vw);
  }
  49% {
    opacity: 1;
    transform: translateX(8vw);
  }
  50% {
    opacity: 1;
    transform: translateX(16vw);
  }
  74% {
    opacity: 1;
    transform: translateX(16vw);
  }
  75% {
    opacity: 1;
    transform: translateX(24vw);
  }
  100% {
    opacity: 1;
    transform: translateX(24vw);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

body {
  background-color: black;
}
body::-webkit-scrollbar {
  width: 0;
}

img {
  width: 200px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3vh;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.loading .loading_container {
  width: 24vw;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
  position: relative;
}
.loading .loading_container .block {
  width: 100%;
  height: 10%;
  align-self: center;
  background-color: goldenrod;
}
.loading .loading_container .x_wing_container {
  width: 24vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  transform: translateX(100px);
  position: absolute;
  animation: loading 2s infinite;
}
.loading .loading_container .x_wing_container .x_wing {
  width: 5vh;
  height: 5vh;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotate(90deg);
}

.select_boxes {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2vh;
}
.select_boxes button {
  width: 200px;
  height: 30px;
  background-color: black;
  cursor: pointer;
  border: solid 1px white;
  align-self: flex-end;
  transition: 0.3s;
}
.select_boxes button:hover {
  color: goldenrod;
  border: solid 1px goldenrod;
  transition: 0.3s;
}
.select_boxes button:active {
  color: black;
  border: solid 1px black;
  background-color: goldenrod;
  transition: 0.3s;
}
.select_boxes div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select_boxes div select {
  width: 200px;
  height: 30px;
  background-color: black;
  cursor: pointer;
}
.select_boxes div select::-webkit-scrollbar {
  width: 10px;
}
.select_boxes div select::-webkit-scrollbar-thumb {
  background-color: white;
}

#similarities {
  text-align: center;
  margin-top: 2vh;
  transform: perspective(200px) rotateX(20deg) translateY(100vh);
  transform-origin: center;
}/*# sourceMappingURL=App.css.map */